
@{
    ViewBag.Title = "Haberler";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //layouta gönderiliyor
    ViewBag.PageTitle = "Haberler";
    var sabit_icerik = (Gsis.Models.ICERIK)ViewBag.sabit_icerik;
    
 }
 




 

    

            <div id="page-header" class="style-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">

                            <h4>Blog</h4>

                        </div> 
                        <div class="col-sm-6">

                            <ol class="breadcrumb">
                                <li><a href="/">Ana Sayfa</a></li>
                                <li class="active">Blog</li>
                            </ol>

                        </div> 
                    </div> 
                </div> 
            </div> 
@*@Html.Raw(sabit_icerik.ICERIK1)*@


  <div class="container" style="min-height:400px;">
    <div class="row">
        <div class="col-sm-4">

            <div class="widget widget-search">
                <form name="search" method="get" action="/ara">
                    <fieldset>
                        <input type="search" name="kelime" placeholder="Aranacak Kelime...">
                        <input type="submit" name="submit" value="">
                    </fieldset>
                </form>
            </div> 

            <div class="widget widget-recent-posts">

                <h4 class="widget-title">Son Blog Yazıları</h4>

                <ul>


                    @foreach (var item in (IQueryable<Gsis.Models.HABERLER>)ViewBag.Son_haberler)
                    {


                        <li>
                            <a class="post-title" href="/h/@item.ID/@item.BASLIK.ToURL()">@item.BASLIK</a><br>
                            <a href="/h/@item.ID/@item.BASLIK.ToURL()" class="post-date">@item.TARIH.Value.ToShortDateString()</a>
                        </li>


                    }


                </ul>
            </div>

        </div>
        <div class="col-sm-8">





            @{

                var Haberler = (IQueryable<Gsis.Models.HABERLER>)ViewBag.Haberler;

                if (Haberler.Count() > 0)
                {
                    foreach (var item in Haberler)
                    {







                        <div class="blog-article">

                            @*<div class="blog-article-thumbnail">
                                    <img src="images/blog/image-3.jpg" alt="">
                                    <a class="fancybox-blog-gallery zoom-action" href="images/blog/image-3.jpg"><img src="assets/images/glasses.png" alt=""></a>
                                </div>*@

                            <div class="blog-article-details">
                                <h3>@item.TARIH.Value.ToShortDateString() - <a href="/h/@item.ID/@item.BASLIK.ToURL()">@item.BASLIK</a></h3>
                            </div>




                            @if (item.ICERIK.Length > 100)
                            {
                                <p>@Html.Raw(item.ICERIK.Substring(0, 100))  </p>
                            }
                            else
                            {
                                <p>@Html.Raw(item.ICERIK)  </p>
                            }




                            <a class="btn btn-blue" href="/h/@item.ID/@item.BASLIK.ToURL()">Devamı >></a>

                        </div>




                    }

                }
                else
                {
                    <p>Haber Bulunamadı !</p>
                }

            }






        </div>
    </div>
</div>













 
     



 
 


        

       

 
